{% extends 'ElasticaClientUserBundle:Default:index.html.twig' %}

{% block body %}
<div class="container">
	<h4>User Info</h4>
	<a href="{{ path('api_v1_get_users') }}">Return to list</a>
	<table class="table">
	    <thead>
	      <tr>
	        <th>Use Name</th>
	        <th>Email</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>{{ user.name }}</td>
	        <td>{{ user.email }}</td>
	      </tr>
	    </tbody>
    </table>
</div>
{% endblock %}